@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.footerbg{
  background: linear-gradient(90.34deg, rgba(6, 8, 83, 0.9) -14.35%, rgba(56, 62, 229, 0.9) 88.12%);

}
.table-row-dark {
  background: #F9F9F980;

}

.table-row-light {
  background: #1AABF41A;
}
.herobg {
  background: linear-gradient(90deg, #060853 31.98%, rgba(3, 25, 137, 0.8) 100%);
}
.subbg{
  background: linear-gradient(95.01deg, rgba(56, 62, 229, 0.95) 11.74%, rgba(26, 171, 244, 0.95) 100%);
}
.button-linear {
  background: linear-gradient(93.18deg, #1AABF4 0%, #383EE5 63.42%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-collapse {
  border: none;
}
.ant-collapse-item{
  margin: 1rem;
  border: 1px solid white;
  border-radius: 10px!important;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: white!important;
}
:where(.css-dev-only-do-not-override-1ae8k9u).ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-header-text{
  color: white;
}
:where(.css-dev-only-do-not-override-1ae8k9u).ant-collapse .ant-collapse-content{
  background-color: rgba(255, 255, 255, 0.1)!important;
  backdrop-filter: blur(10px);
  color: white!important;
}
.ant-collapse-content-box{
  background-color: rgba(255, 255, 255, 0.1)!important;
  backdrop-filter: blur(10px);
  color: white!important;
}
.text-bg {
  background: linear-gradient(90.26deg, #1AABF4 49.85%, #4646FC 69.07%);
  background-image: linear-gradient(90.26deg, #1AABF4 49.85%, #4646FC 69.07%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
body {
  color: rgb(var(--foreground-rgb));
  background: white
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}