@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.herobg {
  background: linear-gradient(90deg, #060853 31.98%, rgba(3, 25, 137, 0.8) 100%);
}

.button-linear {
  background: linear-gradient(93.18deg, #1AABF4 0%, #383EE5 63.42%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-bg {
  background: linear-gradient(90.26deg, #1AABF4 49.85%, #4646FC 69.07%);
  background-image: linear-gradient(90.26deg, #1AABF4 49.85%, #4646FC 69.07%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
body {
  color: rgb(var(--foreground-rgb));
  background: white
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}